<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Edit for notification</title>
</head>

<body>
	<div class="container">
		<h3>Edit User</h3>
		<hr>
		<p class="h4 mb-4">Edit Details</p>
		<form action="#" th:action="@{/home/save}"
						th:object="${user}" method="POST">
		
			<input type="hidden" th:field="*{id}" />
			<input type="text" th:field="*{email}"
					class="form-control mb-4 col-4" placeholder="Email">
			<input type="text" th:field="*{pinCode}"
					class="form-control mb-4 col-4" placeholder="Pin Code">
					
			<button type="submit" class="btn btn-info col-2">Save</button>
			<button class="btn btn-danger col-2" onclick="window.location.href='/home/register';">
        		Cancel
 			</button>
	
		</form>
		<p class="h4 mb-4"></p>
		<hr>

	</div>
</body>
</html>